<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workspace.name %>
</p>

<h2>Data sources</h2>
<table>
  <tr><th>Name</th><th>Why accessible?</th></tr>
</table>
<%= @data_sources.each do |ds| %>
  <%= ds.name %>
  <%= ds.explain_accessible_to(:user => @user, :workspace => @workspace) %>
<% end %>

<h2>Hdfs data sources</h2>
<%= @hdfs_data_sources.each do |hds| %>
  <%= hds.name %>
  <%= hds.explain_accessible_to(:user => @user, :workspace => @workspace) %>
<% end %>

<%= link_to 'Edit', edit_workspace_path(@workspace) %> |
<%= link_to 'Back', workspaces_path %>
