<p id="notice"><%= notice %></p>

<h1>Listing Hdfs Data Sources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hdfs_data_sources.each do |hdfs_data_source| %>
      <tr>
        <td><%= hdfs_data_source.name %></td>
        <td><%= hdfs_data_source.public %></td>
        <td><%= link_to 'Show', hdfs_data_source %></td>
        <td><%= link_to 'Edit', edit_hdfs_data_source_path(hdfs_data_source) %></td>
        <td><%= link_to 'Destroy', hdfs_data_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hdfs data source', new_hdfs_data_source_path %>
