<p id="notice"><%= notice %></p>

<p>
  <strong>Connection parameters:</strong>
  <%= @hdfs_data_source_connection_parameters_set.connection_parameters %>
</p>

<p>
  <strong>Hdfs data source:</strong>
  <%= @hdfs_data_source_connection_parameters_set.hdfs_data_source_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @hdfs_data_source_connection_parameters_set.user_id %>
</p>

<p>
  <strong>Workspace:</strong>
  <%= @hdfs_data_source_connection_parameters_set.workspace_id %>
</p>

<%= link_to 'Edit', edit_hdfs_data_source_connection_parameters_set_path(@hdfs_data_source_connection_parameters_set) %> |
<%= link_to 'Back', hdfs_data_source_connection_parameters_sets_path %>
