<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <ul>
      <li><%= link_to "Data source accounts", data_source_accounts_path %></li>
      <li><%= link_to "Data sources", data_sources_path %></li>
      <li><%= link_to "Datasets", datasets_path %></li>
      <li><%= link_to "Hdfs data source connection parameters sets", hdfs_data_source_connection_parameters_sets_path %></li>
      <li><%= link_to "Hdfs data sources", hdfs_data_sources_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Workspaces", workspaces_path %></li>
      <li><%= link_to "Workspace data sources", workspace_data_sources_path %></li>
      <li><%= link_to "Workspace datasets", workspace_datasets_path %></li>
    </ul>

    <hr/>

    <%= yield %>

  </body>
</html>
